#challenge-cont {
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 3px;
    margin-top: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    text-align: center;
    width: 100%;
}

#challenge-no {
    color: var(--red);
    margin-bottom: 0.5rem;
}

#challenge {
    display: flex;
    box-sizing: content-box;
}

.cta-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1;
}

.button.cta-button {
    margin-top: 0;
    margin-bottom: 0.75rem;
    width: 100%;
}

.button.cta-button.done {
    background-color: green;
    border-color: green;
}

.button.cta-button:last-of-type {
    margin-bottom: 0
}